*, *::before, *::after{
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body
{
    margin:0;
    padding:0;
    background: linear-gradient(to right, rgb(252, 66, 66), rgb(52, 52, 255));
}

.calc-grid
{
    display: grid;
    justify-content:center;
    align-content: center;
    min-height:100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
}

.calc-grid button
{
    cursor: pointer;
    font-size: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    outline:none;                           
    background-color: rgb(0, 229, 255, 0.76 ); 
}

.calc-grid button:hover
{
    background-color: rgb(68, 236, 255, 0.95); 
}

.span-two
{
    grid-column: span 2;
}

.output
{
    grid-column:1/-1;
    background-color: rgba(0, 0, 0, 0.89);
    display:flex;
    align-items:flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output,.prev-operand
{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.6rem;
    color: white;
}

.output,.curr-operand
{
    color: rgba(255, 255, 255, 1);
    font-size: 2.6rem;
    color: white;
}